*
!*.py
!requirements-runtime.txt
!static/
!static/**
!docs/
!docs/**
!README.md
!LICENSE
!CITATION.cff
!SECURITY.md
!CHANGELOG.md
!artifacts/
!artifacts/model.joblib
!artifacts/model_card.json
!artifacts/dose_calibration.json
!artifacts/MODEL_MANIFEST.json
